#heading{
    width: 100%;
    font-size: 21px !important;
    margin-top:0 ;
}

#div_2{
    background-color: pink;
    padding: 10px;
    
}
.result_para{
    box-shadow: 5px 5px 5px grey;
font-size:15px;
}
#footer_by_div{
    position: fixed;
    text-align: center ;
    bottom: 0;
    line-height: 3;
background-color: grey;
width: 100%;
color: black;
}

canvas{
    margin-top:110px;
box-shadow: 5px 5px 5px grey;
border: 15px solid white;
border-radius: 7px;
}